@import url("//fonts.googleapis.com/css?family=Open+Sans:600,400");

// bower:scss
// endbower

$font-size-base: 14px;
$font-size-large: 16px;
$font-size-small: 12px;

$column-width: 200px;
$gutter-width: 50px;

body {
  overflow-y: scroll;
  line-height: 1.4;
  font-size: $font-size-base;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  background: #fff;
}

a {
  text-decoration: none;
  color: #08c;
  &:hover,
  &:active {
    text-decoration: underline;
  }
}

.container {
  width: $column-width * 4 + $gutter-width * 3;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: 1250px) {
    width: $column-width * 5 + $gutter-width * 4;
  }
}

.hero {
  margin: 100px 0 80px;
  line-height: 1.2;
  text-align: center;
}

.page-title {
  font-size: 36px;
  font-weight: normal;
}

.counter {
  width: 180px;
  margin: 10px auto 0;
  text-align: right;
  font-size: $font-size-large;
}

.counter__value {
  font-size: 48px;
}

.utilities {
  margin: 50px 0;
  text-align: center;
  opacity: 0;
  transition: opacity 0.6s ease;
  &.in {
    opacity: 1;
  }
}

.utility {
  margin: 10px 0;
  strong,
  label {
    margin-right: 0.5em;
  }
}

.items {
  overflow: hidden;
  margin: 50px (- $gutter-width / 2);
}

.item {
  width: $column-width;
  margin: 0 ($gutter-width / 2) ($gutter-width * 1.5);
}

.item__inner {
  overflow: hidden;
  opacity: 0;
  transform: translate(0, 220px);
  transition: all 0.6s ease;
  .item.in & {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.item__icon {
  width: $column-width / 2;
  height: $column-width / 2;
  margin: 10px auto 15px;
  border-radius: 4px;
}

.item__name {
  margin: 10px 0;
  line-height: 1.2;
  text-align: center;
  font-size: 18px;
}

.item__description,
.item__miscs {
  margin: 10px 0;
}

.item__miscs {
  overflow: hidden;
  font-size: $font-size-small;
  color: #aaa;
}

.item__date {
  float: left;
}

.item__lang {
  float: right;
}
